<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>BuildMachineOSBuild</key>
	<string>23F5049f</string>
	<key>CFBundleDevelopmentRegion</key>
	<string>en</string>
	<key>CFBundleDisplayName</key>
	<string>Invisibility</string>
	<key>CFBundleExecutable</key>
	<string>Invisibility</string>
	<key>CFBundleIconFile</key>
	<string>AppIcon</string>
	<key>CFBundleIconName</key>
	<string>AppIcon</string>
	<key>CFBundleIdentifier</key>
	<string>so.invisibility.app</string>
	<key>CFBundleInfoDictionaryVersion</key>
	<string>6.0</string>
	<key>CFBundleName</key>
	<string>Invisibility</string>
	<key>CFBundlePackageType</key>
	<string>APPL</string>
	<key>CFBundleShortVersionString</key>
	<string>2.0.13</string>
	<key>CFBundleSupportedPlatforms</key>
	<array>
		<string>MacOSX</string>
	</array>
	<key>CFBundleURLTypes</key>
	<array>
		<dict>
			<key>CFBundleTypeRole</key>
			<string>Viewer</string>
			<key>CFBundleURLName</key>
			<string>so.invisibility.app</string>
			<key>CFBundleURLSchemes</key>
			<array>
				<string>invisibility</string>
			</array>
		</dict>
	</array>
	<key>CFBundleVersion</key>
	<string>95</string>
	<key>DTCompiler</key>
	<string>com.apple.compilers.llvm.clang.1_0</string>
	<key>DTPlatformBuild</key>
	<string></string>
	<key>DTPlatformName</key>
	<string>macosx</string>
	<key>DTPlatformVersion</key>
	<string>14.4</string>
	<key>DTSDKBuild</key>
	<string>23E208</string>
	<key>DTSDKName</key>
	<string>macosx14.4</string>
	<key>DTXcode</key>
	<string>1530</string>
	<key>DTXcodeBuild</key>
	<string>15E204a</string>
	<key>LSApplicationCategoryType</key>
	<string>public.app-category.productivity</string>
	<key>LSMinimumSystemVersion</key>
	<string>14.0</string>
	<key>NSAccentColorName</key>
	<string>AccentColor</string>
	<key>NSAccessibilityUsageDescription</key>
	<string>Enable accessibility for keyboard shortcuts and screen recording.</string>
	<key>NSCalendarsFullAccessUsageDescription</key>
	<string>Enable reading calendar for meeting recording reminders and quick-join.</string>
	<key>NSHumanReadableCopyright</key>
	<string>Copyright © Invisiblity Inc. All rights reserved.</string>
	<key>NSMicrophoneUsageDescription</key>
	<string>Invisibility requires access to your microphone for input during recordings.</string>
	<key>SUAllowsAutomaticUpdates</key>
	<true/>
	<key>SUAutomaticallyUpdate</key>
	<true/>
	<key>SUEnableAutomaticChecks</key>
	<true/>
	<key>SUEnableInstallerLauncherService</key>
	<true/>
	<key>SUFeedURL</key>
	<string>https://invisibilityinc.github.io/Invisibility/appcast.xml</string>
	<key>SUPublicEDKey</key>
	<string>VIOnOTxkP22wB4X2fWs7AkXLD8W5eClUQ7pH0uqD9Cg=</string>
</dict>
</plist>
